name: ci

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      BASE_URL: http://localhost:5173
      DEMO_EMAIL: ${{ secrets.DEMO_EMAIL }}
      DEMO_PASSWORD: ${{ secrets.DEMO_PASSWORD }}
      VITE_DEMO_EMAIL: ${{ secrets.DEMO_EMAIL }}
      VITE_DEMO_PASSWORD: ${{ secrets.DEMO_PASSWORD }}
      DEMO_USER_NAME: ${{ secrets.DEMO_USER_NAME }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Build
        run: npm run build

      - name: Playwright install
        run: npx playwright install --with-deps chromium

      - name: Run Playwright tests
        run: npm run test:e2e
